[Desktop Entry]
Name=Retchat
Comment=Modern Reticulum Network LXMF Chat Client
Exec=/home/stereo/selfmade/retchat/retchat.sh %U
Icon=org.selfmade.Retchat
Terminal=false
Type=Application
Categories=Network;Chat;InstantMessaging;GTK;
StartupNotify=true
StartupWMClass=org.selfmade.Retchat
Keywords=Reticulum;RNS;LXMF;Mesh;Chat;Encrypted;
